<div class="div container">

  <h1 class="pmt-3">Product List</h1>

  <a routerLink="/admin/products/add" class="btn btn-primary" (click)="openAddModal()">Add</a>

    @if (products) {

      <table>

        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          @for (product of products; track product.id){
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>
              <a routerlink="/admin/products/edit" class="btn btn-sec" (click)="openEditModal(product)">Edit</a>
              <a routerlink="/admin/products/delete" class="btn btn-trh" (click)="deleteProduct(product)">Delete</a>
            </td>
          }
        </tbody>

      </table>

    }

</div>
